@import "../main/variables";

.balance {
    img {
        width: 35px;
        height: 35px;
    }
}

#carousel-prizes {
    li .content {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        
            .prize-poster {
                display: block;
                width: 12rem;
                height: 12rem;
                border-radius: $borderRadiusSmall;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                gap: 1rem;
                img {
                    height: 2.5rem;
                }
            }
    
            .stock {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .big-btn {
                height: 2.5rem;
                width: 7.5rem;
                font-size: 1.2rem;
            }
        }
    }
}

//

@media screen and (min-width: $desktopWidth) {

}