@import "../main/variables";

.card-balance {

    display: flex;
    justify-content: center;

    .balance {
        width: 220px;
        min-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid #06CCF8;
        border-radius: $borderRadiusLarge;
    
        background: $colorGradient3;
        box-shadow: $shadow;
    
        transition: 200ms ease-in-out;
    
        .token-balance-value {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-items: center;
            padding: 10px 10px 10px 10px;
        }
        .token-value {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.5rem;
            padding: 10px;
        }
        img {
            width: 35px;
            height: 35px;
        }
    }
}

.flex-coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 10px;
    }
    h2:first-of-type {
        margin: 0;
    }
}

.buy-flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    p {
        font-size: 1.5rem;
    }
    .buy-button {
        font-size: 24px;
            border-radius: 1.25rem;
            border: 0.5px solid black;
            background: $colorGradient5;
            box-shadow: $shadow;
    
            color: #020051;
            
            width: 124px;
            font-size: 1.125rem;
            padding: 5px 0;
    
            text-align: center;  
            
            cursor: pointer;
    } 
}

.guest-message {
    margin-top: 5px;
    color: red;
    font-size: 1rem;
}

#carousel-prizes {
    li {
        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #fff;
        }
    
        h2 {
            font-size: 1.75rem;
        }
    
        .prize-poster {
            display: block;
            width: 15rem;
            height: 13.125rem;
            margin: 8px auto 12px;
            border: 1px solid #06CCF8;
            border-radius: 0.6rem;
        }
    }
}

@media screen and (min-width: $desktopWidth) {

    .card-balance {
        .balance {
            position: absolute;
            top: 45%;
            left: 10%;
        }
    }

    .guest-message {
        margin-top: 5px;
        color: red;
        font-size: 1rem;
    }
    .card#add-prize-btn {
        position: absolute;
        left: 6rem;
        top: 1rem;
    }

    #slider-prizes {
        margin-top: 50px;
    }
}