{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block content %}
<div class="card full-size">
    <div class="content">
        <h2>Edit Game</h2>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>  
{% endblock %}