{% extends 'base.html.twig' %}

{% block title %}Admin Add game{% endblock %}

{% block content %}
<div class="card full-size">
    <div class="content">
        <h2>Add New Game</h2>
        {{ include('admin/_form.html.twig') }}
    </div>
</div>
{% endblock %}
