{% extends 'base.html.twig' %}

{% block content %}

<div class="card full-size" id="game-new">
    <div class="content">
        <h2>New Game</h2>

        <div class="container">
            {{ include('game/_form.html.twig') }}
        </div>
    </div>
</div>

{% endblock %}
