{% extends 'base.html.twig' %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}

    <section id="part-one" class="main-block">
        <div id="game-resume"></div>
        <div id="game-pictures"></div>
        <div id="game-scores"></div>
    </section>
    <section id="part-two" class="main-block">
        <div id="game-achievements"></div>
        <div id="game-comments"></div>
    </section>

{% endblock %}
