@import '../main/variables';

#carousel-events .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    h2 {
        margin: .5rem 0 0;
    }

    .poster {
        width: 8rem;
        margin-bottom: .5rem;
    }

    p, ul.event-dates {
        width: 80%;
        margin: 0 auto;
    }
    
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: pre-wrap;

        font-size: 1.1rem;
    }

    ul.event-dates {
        li {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            font-size: 1.2rem;
        }
    }

    .btns-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;

        a {
            width: 100%;
        }
    }
}

@media screen and (min-width: $desktopWidth) {
    #carousel-events .content {
        .poster {
            margin: 0;
        }

        p {
            height: 3rem;
        }
    }
}
