@import '../main/variables';

#event-show .content {
    .container {
        img.game-poster {
            width: 10rem;
            display: block;
            border-radius: $borderRadiusSmall;
            border: 1px solid #06CCF8;
            margin: 1rem auto;
        }

        #event-description {
            margin: 1rem 0;
        }

        #event-infos {
            text-align: center;
        }

        .edit-btn {
            top: 3rem;
            left: .5rem;
        }
    }
}

@media screen and (min-width: $desktopWidth) {
    #event-show .content {
        .container {
            width: 80%;
            height: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            img.game-poster {
                width: 30%;
            }

            .edit-btn {
                top: .5rem;
                left: .5rem;
            }

            form {
                width: fit-content;
            }

            .big-btn {
                width: 300px;
                margin: auto auto;
            }

            p, ul {
                font-size: 1.2rem;
            }
        }

    }
}