$desktopWidth: 1366px;

$colorGradient1: linear-gradient(180deg, #020051 0%, rgba(0, 0, 0, 0.66) 100%);
$colorGradient2: conic-gradient(from 180deg at 50% 48.5%, #C10BEE 52.49999821186066deg, #7711F8 125.62500357627869deg, #1D71D4 275.625deg);
$colorGradient3: linear-gradient(180deg, rgba(37, 179, 241, 0.80) 0%, rgba(84, 17, 225, 0.80) 100%);
$colorGradient4: linear-gradient(90deg, #06CCF8 11.41%, #B906F8 67.86%, #06CCF8 98.11%);
$colorGradient4-vertical: linear-gradient(#06CCF8 11.41%, #B906F8 67.86%, #06CCF8 98.11%);
$colorGradient5: linear-gradient(180deg, rgba(194, 145, 255, 0.66) 0%, rgba(255, 255, 255, 0.66) 0.01%, rgba(183, 128, 217, 0.86) 100%);
$colorGradient6: linear-gradient(180deg, #E585ED 0%, #FFF 48.96%, rgba(240, 240, 225, 0.50) 100%);

$colorGradientNavDesktop: linear-gradient(178deg, rgba(84, 17, 225, 0.80) 10.57%, rgba(37, 179, 241, 0.80) 115.1%);

$borderRadiusSmall: 10px;
$borderRadiusMedium: 20px;
$borderRadiusLarge: 25px;

$shadow: 0px 8px 8px 0px rgba(46, 53, 56, 0.25);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron&display=swap');