{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Your last game{% endblock %}
{% block content %}

<div class="card full-size">
    <div class="content">
        <p></p>
    </div>
</div>

{% endblock %}
