@import "_variables";

    .form-add-game {

        form {
            width: 100%;
        }

        form input {
            width: 100%;
        }

        label {
            display: none;
        }

        .title {
            background: rgba(222, 232, 244, 0.65);  
        }

        .description {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
            color: var($colorGradient6);
        }

        .checked-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        

        .btn-savegame-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn-savegame {
            margin-top: 1rem;
            border: 0.5px solid black;
            border-radius: 1.25rem;
            box-shadow: $shadow;
            background: $colorGradient5;
            color: #020051;
            width: 18.875rem;
            height: 2.8rem;
            font-size: 1.125rem;
            cursor: pointer;
        }
    }


@media screen and (min-width: $desktopWidth) {

    .form-add-game {
        
        form {
            width: 100%;
        }
    
        form input {
            display: flex;
            justify-content: center;
            width: 80%;
        }

        label {
            display: none;
        }

        .title {
            background: rgba(222, 232, 244, 0.65);  
        }

        .checked-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .description {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
            color: var($colorGradient6);
        }

        .btn-savegame-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .btn-savegame {
            margin-top: 1rem;
            border: 0.5px solid black;
            border-radius: 1.25rem;
            box-shadow: $shadow;
            background: $colorGradient5;
            color: #020051;

            width: 18.875rem;
            height: 2.8rem;
            font-size: 1.125rem;
            cursor: pointer;
        }
    }
}

