#main-container {
    margin-left: 140px;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-bloc {
    height: 822px;
    width: 1244px;
    background-color: red;
}
