@import "_variables";

// BODY

body {
    background: url('/assets/images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

#main-container {
    margin-top: calc(80px);
    margin-bottom: calc(100px);
    padding-top: calc(10px);
    height: calc(100vh - 80px - 100px);
    overflow: scroll;
}

// COMPONENTS

.card {
    min-height: 160px;

    position: relative;

    margin: 0 10px 10px;
    padding: 10px 14px;

    border: 2px solid #06CCF8;
    border-radius: $borderRadiusLarge;

    background: $colorGradient1;
    box-shadow: $shadow;

    h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .content {
        position: relative;
        z-index: 1;
    }

    // Adding gradient to top and bottom borders
    &::before {
        content: '';
        display: block;

        height: calc(100% + 2*2px);
        width: calc(100% - 2*$borderRadiusLarge);

        position: absolute;
        top: -2px;
        left: $borderRadiusLarge;

        border-width: 2px;
        border-style: solid none solid none;
        border-image: $colorGradient4 1;
    }
}

// TEXT

h2, h3, h4, h5, h6,
p, ul, label, input, input::placeholder, select, a, button,
.text
{
    background: $colorGradient5;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Orbitron';
    text-decoration: none;
}

.michroma {
    background: $colorGradient6;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    font-family: 'Michroma';
}