@import "_variables";

    .add-new-game-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.625rem;
    }
    .add-new-game-icon {
        display: flex; 
        align-items: center;
    }

    .add-new-game-icon img {
        padding-left: 10px;
    }

.game-played-admin {
        
    ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        width: 100%;
        }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    li .img-resize {
        width: 8.61875rem;
        height: 7.5rem;
        border-radius: 0.625rem;
        border: 1px solid var($colorGradient2);
    }

    .scrollable-list {
        height: 300px;
        overflow-y: scroll;
        scrollbar-color: var($colorGradient2);
    }

    .scrollable-list li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: $desktopWidth) {

    #dashboard {
        grid-template-columns: repeat(9, 120px);
        grid-template-rows: repeat(4, 190px);

        .cell-sign-in, .cell-profile, .cell-admin {
            grid-area: 1 / 1 / span 2 / span 3;
        }

        .cell-played-admin {
            grid-area: 1 / 4 / span 2 / 10;
        }
        
        .cell-high-score {
            grid-area: 2 / 4 / span 1 / span 2;
        }

        .cell-this-week {
            grid-area: 2 / 6 / span 1 / span 4;
        }

        .cell-the-room, .cell-your-friends {
            grid-area: 3 / 1 / span 1 / span 4;
        }

        .cell-newest-game {
            grid-area: 4 / 1 / span 1 / span 2;
        }

        .cell-mini-games {
            grid-area: 4 / 3 / span 1 / span 2;
        }

        .cell-scores {
            grid-area: 3 / 5 / span 2 / span 2;
        }

        .cell-arcade-games {
            grid-area: 3 / 7 / span 2 / span 3;
        }
    }

        .add-new-game-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1.625rem;
        }
        .add-new-game-icon {
            display: flex; 
            align-items: center;
        }

        .add-new-game-icon img {
            padding-left: 10px;
        }


    .game-played-admin {
        
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px;
            width: 100%;
            }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        li .img-resize {
            width: 8.61875rem;
            height: 7.5rem;
            border-radius: 0.625rem;
            border: 1px solid var($colorGradient2);
        }

        .scrollable-list {
            height: 300px;
            overflow-y: scroll;
            scrollbar-color: var($colorGradient2);
        }

        .scrollable-list li {
            margin-bottom: 10px;
        }

        .fixed-title {
            color: #a8a5daa9;
            top: 0;
            z-index: 100;
        }
        
    }
}