@import "_variables";

#dashboard {
    .card {
        img.game-poster {
            border: 1px rgb(204, 0, 255) solid;
            &:hover {
                border: 1px solid #06CCF8;
            }
        }

        &.cell-sign-in .content {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        
            #error-container {
                margin: 1rem 0 1.5rem;
                height: 3rem;
                padding: 1rem 2rem;
                background: $colorGradient3;
                border-radius: 1rem;
                z-index: 2;
            }
        
            #user-login-icon {
                margin: 1rem 0 1.5rem;
                height: 3rem;
            }
        
            .form-login {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            
                width: 80%;
            
                #password, #username {
                    width: 100%;
                    height: 2.8rem;
                    border: 1px solid #C10BEE;
                    border-radius: 0.75rem;
                    text-align: center;
                    opacity: 66%;
                    font-size: 1.1rem;
        
                    &::placeholder {
                        text-align: center;
                    }
                    &:focus-visible {
                        outline: none;
                    }
                    &:hover {
                        border: 1px solid #06CCF8;
                    }
                    
                }
        
                #lost-password {
                    margin-right: 0;
                    margin-left: auto;
                    opacity: 66%;
                    font-size: .87rem;
                }
        
                button {
                    margin-top: 1rem;
                    border-radius: 1.25rem;
                    border: 0.5px solid black;
                    background: $colorGradient5;
                    box-shadow: $shadow;
        
                    color: #020051;
                    
                    height: 2.8rem;
                    width: 100%;
                    font-size: 1.125rem;
        
                    cursor: pointer;
                }
            }
        
            #sign-up {
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
        
                a {
                    padding: .25rem 0;
                    font-size: 14px;
                }
        
                a:last-child {
                    border-radius: 0.5rem;
                    border: 1px solid #C10BEE;
                    box-shadow: $shadow;
                    padding: .25rem 1.25rem;
                }
            }
        }

        &.cell-profile .content {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                a#log-out {
                    padding: .5rem 1rem;
                    border-radius: $borderRadiusSmall;
                    border: 1px #C10BEE solid;
                }

                ul {
                    width: 66%;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }

        &.cell-played .content {
            .container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
                padding: 0 .5rem;

                .recently-played-game {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;
                    gap: 1rem;

                    ul {
                        width: 100%;
                    }
    
                    img {
                        width: 6rem;
                        border-radius: $borderRadiusSmall;
                    }
                }
            }

            #no-game-played {
                height: calc(100% - 40px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.cell-high-score .content {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                div {
                    display: flex;
                    gap: 1rem;
                    
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                img {
                    width: 5rem;
                    border-radius: .5rem;
                    display: block;
                }
            }
        }

        &.cell-this-week .content {
            ul {
                height: calc(100% - 40px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                list-style: '• ';

                li {
                    width: 80%;
                }
            }
        }

        &.cell-scores .content {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            table {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                tr {
                    height: 2.4rem;
                }
            }
        }

        &.cell-the-room .content {
            .container {
                display: flex;
                flex-direction: column;
                place-items: center;
                margin: 10px;
                padding-top: 10px;
            
                .room-info {
                    display: flex;
                    align-items: center;
            
                    p {
                        padding: .5rem;
                        text-align: left;

                        &.text-end {
                            text-align: end;
                        }
                    }
                    
                    &#more-details {
                        height: 100%;
                        width: 100%;
                        justify-content: flex-end;
                        align-items: flex-end;

                        a {
                            padding: .5rem 1rem;
                            border-radius: $borderRadiusSmall;
                            border: 1px #C10BEE solid;
                        }
                    }
                }
            }
        }

        &.cell-mini-games .content {
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.cell-newest-game .content {
            img {
                display: block;
                width: 5.5rem;
                margin: .5rem auto;
                border-radius: .5rem;
            }
        }

        &.cell-arcade-games .content {
            #games-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 1rem;
                height: calc(100% - 40px);

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        border-radius: $borderRadiusSmall;
                        width: 8rem;
                    }
                }
            }
        }
    }
}

//

@media screen and (min-width: $desktopWidth) {

    #dashboard {
        grid-template-columns: repeat(9, 120px);
        grid-template-rows: repeat(4, 190px);

        .card {
            &.cell-sign-in, &.cell-profile, &.cell-admin {
                grid-area: 1 / 1 / span 2 / span 3;
            }
    
            &.cell-played {
                grid-area: 1 / 4 / span 1 / 10;
            }
            
            &.cell-high-score {
                grid-area: 2 / 4 / span 1 / span 2;
            }
    
            &.cell-this-week {
                grid-area: 2 / 6 / span 1 / span 4;
            }
    
            &.cell-the-room, &.cell-your-friends {
                grid-area: 3 / 1 / span 1 / span 4;

                .content .container {
                    display: grid;

                    grid-template-columns: 3fr 2fr;
                    grid-template-rows: 1fr 1fr;

                    place-content: center;
                    
                    padding: .5rem;
                }
            }
    
            &.cell-newest-game {
                grid-area: 4 / 1 / span 1 / span 2;
            }
    
            &.cell-mini-games {
                grid-area: 4 / 3 / span 1 / span 2;
            }
    
            &.cell-scores {
                grid-area: 3 / 5 / span 2 / span 2;
            }
    
            &.cell-arcade-games {
                grid-area: 3 / 7 / span 2 / span 3;
            }
        }
    }
}
