@import "_variables";

#dashboard {
    .cell-played-admin {
        .messages-success-block {

            display: flex;
            justify-content: center;
        }
        
            .img-block {

                display: flex;
                justify-content: center;
                height: 80px;
                padding-top: 25px;
            }

            .messages-success {
                
                color: #fefefe;
                font-size: 1.5rem;
                padding-bottom: 10px;
            }

                @keyframes fadeOut {
                    0% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                
                .messages-success {
                    animation: fadeOut 5s ease;
                    opacity: 0;
                }
            }
        }
        
        .content {

            .nav-admin {
                display: flex;
                flex-direction: column;
            
                a {
                    text-align: center;
                    border: 2px solid #06CCF8;
                    border-radius: $borderRadiusLarge;
                    background: $colorGradient1;
            
                    min-width: 95%;
                    margin: 0 10px 10px;
                    padding: 10px 14px;
                }
            
                h1 {
                    font-size: 2rem;
                    color: #fff;
                }
            
                h1, img {
                    padding-left: 20px;
                }
            }
        }



//

@media screen and (min-width: $desktopWidth) {

    #dashboard {
        .cell-played-admin {
            grid-area: 1 / 1 / 4 / 9;

            .content {
                
                .nav-admin {
                    flex-direction: row;
                    gap: 1rem;
                    flex-wrap: wrap;
                    margin-top: 10rem;
        
                    a {
                        display: flex;
                        padding: 10px;
                        min-width: 150px;
                        min-height: 50px;
                    }
                }
            }
        }
    }
}