#game {
    grid-template-columns: repeat(2, 610px);
    grid-template-rows: repeat(2, 400px);

    // grid-area : y / x / y / x

    .cell-game {
        grid-area: 1 / 1 / span 1 / 3;
    }
    .cell-game-picture {
        grid-area: 2 / 1 / 2 / 1;
    }
    .cell-game-scores {
        grid-area: 2 / 2 / 2 / 2;
    }
}

.game-title {
    font-size: 2.5rem;
}

.game-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-left: 350px;
}

.game-stars {
    font-size: 1,50rem;
}

.category-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
}

.game-container-card {
    width: 500px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #fdfdfd;
    padding: 25px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.game-container-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.game-container-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #fdfdfd;
    padding: 25px;
}

.div-picture {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 30px;
}

.div-picture-size {
    width: 187px;
    height: 140px;
}