#part-one {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 22px;
}

#game-resume {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: red;
}

#game-pictures {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: red;
}

#game-scores {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: red;
}

#part-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
}

#game-achievements {
    background-color: red;
}

#game-comments {
    background-color: red;
}
