@import "_variables";

@media screen and (min-width: $desktopWidth) {

    #prizes {
        grid-template-columns: repeat(9, 120px);
        grid-template-rows: repeat(4, 190px);

        // grid-area : y / x / y / x

        .cell-prize {
            grid-area: 1 / 1 / span 2 / span 3;
        }
    }
}