@import "_variables";




@media screen and (min-width: $desktopWidth) {

    #prizes {
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: repeat(3, 400px);

        // grid-area : y / x / y / x

        .cell-prize {
            grid-area: 1 / 1 / 2 / 1;
        }
    }
}