@import "_variables";


#register_button_submit {
	margin-left: 12.5rem;
    border-radius: $borderRadiusMedium;
    border: 0.5px $colorGradient1;
    background: $colorGradient5;
    color : #020051;
	width: 302px;
	height: 50px;
	margin-top: 4rem;

	cursor: pointer;
}
.btn-register {
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.singup-title {
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media screen and (min-width: $desktopWidth) {

	div#register {
		form {
			width: 730px;
			margin: 0 auto;
			margin-top: 4rem;
		
			& > div {
				height: 100%;
		
				label, input {
					display: block;
					margin-top: 0.5rem;
					cursor: pointer;
				}
		
				label {
					text-align: center;
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					margin: 19px 0 5px 0;
				}
		
				input {
					width: 100%;
					height: 46px;
					border-radius: $borderRadiusSmall;
					border: 1px solid #C10BEE;
					box-shadow: $shadow;
					padding: .25rem 1.25rem;

					color: white;
					font-size: large;
				}
			}
		}
	}
}
