@import "_variables";

@media screen and (min-width: $desktopWidth) {

    #scores-page {
        grid-template-columns: repeat(2, 610px);
        grid-template-rows: repeat(2, 400px);

        .card {
            &.cell-global-scores {
                grid-area: 1 / 1 / span 2 / span 1;
            }

            table {
                border-collapse: collapse;
                width: 80%;
                margin: 0 auto;

                tr {
                    border-bottom: 1px cyan solid;
                    height: 50px;

                    td {
                        width: fit-content;
                        &.td-score {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
