@import "_variables";

#searchbar {
    position: relative;
    z-index: 2;

    width: 90vw;
    
    margin: 0 auto 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    #search-primary,
    #search-modal {
        height: 50px;
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;

        background-color: #DEE8F4CC;
        border: 1px solid #020051;
        border-radius: 1.5rem;
    }

    #search-primary {
        display: flex;
        align-items: center;

        .btn {
            height: 1.5rem;
            width: 1.5rem;
            padding: 0;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 0 none;
    
            cursor: pointer;

            &.search {
                background-image: url('/assets/images/icons/search.svg');
            }
            &.settings {
                background-image: url('/assets/images/icons/settings.svg');
            }
        }

        #game_search_title {
            border: none;
            text-align: center;
            font-size: 1.25rem;
            width: 80%;

            &:focus-visible {
                outline: none;
            }
        }

        #game_search_title, #game_search_title::placeholder {
            background: $colorGradient1;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            height: 100%;
        }
    }

    #search-modal {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;

        font-size: 1rem;

        display: none;

        justify-content: space-between;
    
        margin: 0 auto;
        padding: 1rem 1rem;
    
        border-radius: 1.4rem;
    
        .filter {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            width: 100px;
    
            p {
                cursor: pointer;

                background: $colorGradient1;
                -webkit-background-clip: text;
                background-clip: text;
            }
    
            .params {
                position: absolute;
                top: 60px;
                left: 0;
                width: 150px;
                height: fit-content;

                label, input {
                    cursor: pointer;
                }
            }
        }
    
        .sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;

            background: $colorGradient1;
            -webkit-background-clip: text;
            background-clip: text;
    
            height: fit-content;
    
            cursor: pointer;
    
            img {
                height: 1rem;
            }
        }
    }
}

@media screen and (min-width: $desktopWidth) {

    #searchbar {
        width: 500px;
        position: absolute;
        top: 1rem;
        margin: 0;
    }
}
