@import "../main/_variables";

#game-new .content {
    form {
        width: 100%;
        margin: 0 auto;
        margin-top: 4rem;

        input {
            display: block;
            margin-top: 0.5rem;
            cursor: pointer;
        }

        label {
            display: none;
        }

        input {
            width: 100%;
            min-height: 50px;
            border-radius: $borderRadiusSmall;
            border: 1px solid #C10BEE;
            padding: .25rem 1.25rem;
            color: var($colorGradient2);
        }

        select {
            border-radius: $borderRadiusSmall;
            border: 1px solid #C10BEE;
            padding: .25rem 1.25rem;
            color: var($colorGradient2);
            width: 50%;
            margin-top: 0.5rem;
            color: #5755ce;
        }

        textarea {
            margin-top: 10px;
            width: 100%;
            min-height: 20vw;
            border-radius: $borderRadiusSmall;
            border: 1px solid #C10BEE;
            padding: .25rem 1.25rem;
            background: none;
            color: #fff;
        }
    }

    .checked-flex {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $desktopWidth) {

    #game-new .content {
        form {
            width: 60%;
            margin: 0 auto;
            margin-top: 4rem;

            input {
                display: block;
                margin-top: 1rem;
                margin-bottom: 1rem;
                cursor: pointer;
            }

            label {
                display: none;
            }

            input {
                border-radius: $borderRadiusSmall;
                border: 1px solid #C10BEE;
                padding: .25rem 1.25rem;
                color: var($colorGradient2);
            }

            input[type="file"] {
                font-size: 1.2rem;
            }
        
            select {
                border-radius: $borderRadiusSmall;
                border: 1px solid #C10BEE;
                padding: .25rem 1.25rem;
                color: var($colorGradient2);
                font-size: 1.2rem;
                width: 30%;
                color: #5755ce;
                margin-bottom: 1rem;
            }

            textarea {
                width: 100%;
                min-height: 12vw;
                border-radius: $borderRadiusSmall;
                border: 1px solid #C10BEE;
                padding: .25rem 1.25rem;
                background: none;
                color: #fff;
                font-size: 1.5rem;
            }
        }

        .description {
            min-height: 250px;
            color: var($colorGradient6);
            width: 100%;
            border-radius: $borderRadiusSmall;
            border: 1px solid #C10BEE;
            padding: .25rem 1.25rem;
            color: var($colorGradient2);
        }
    }
}