<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        
        <title>
            {% block title %}NeoRetro{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% include "/components/_header.html.twig" %}
        {% include "/components/_navbar.html.twig" %}

        <div id="main-container">
            {% block content %}
            {% endblock %}
        </div>

        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
