@import "../main/_variables";

.card#add-event {
	.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;

			& > div {
				width: 100%;

                label {
                    display: block;
                }

                & > div {
                    display: flex;
                    gap: 1rem;
                }
			}
		
			.big-btn {
				// margin-top: 2.5rem;
				width: 50%;
			}
		}
	}
}

//

@media screen and (min-width: $desktopWidth) {

	.card {
		.container {
			form {
				width: 70%;
			
				& > div {

				}
			}
		}
	}
}
