@import "../_variables";

form input:hover,
form textarea:hover {
    border: 1px solid #0982cd;
}

.card {
	.container {

		form {
			// display: flex;
			// flex-direction: column;
			// align-items: center;

			& > div {
				// width: 50%;
		
				label, input {
					cursor: pointer;
				}
		
				label {
					display: none;

					margin-top: 1rem;

					text-align: center;
					font-size: 1.2rem;
				}

				input {
					height: 3rem;
				}
				textarea {
					resize: none;
				}

				input, textarea {
					display: block;

					width: 100%;

					border-radius: $borderRadiusSmall;
					border: 1px solid #C10BEE;
					box-shadow: $shadow;

					padding: .25rem 1.25rem;
					margin-top: .5rem;
		
					&:hover {
						border: 1px solid #06CCF8;
					}
		
					&::placeholder {
						text-align: center;
					}
			
					&:focus-visible {
						outline: none;
						border: 1px solid #06CCF8;
					}
				}
			}
		
			button#submit {
				margin-top: 2.5rem;
				padding: .5rem 1rem;

				border-radius: $borderRadiusMedium;
		
				background: $colorGradient5;
				color: #020051;
				
				font-size: 1rem;

				cursor: pointer;
			}
		}
	}
}

//

@media screen and (min-width: $desktopWidth) {

	.card {
		.container {
			form {
				width: 70%;
			
				& > div {
					input, textarea {
						font-size: 1.1rem;

						&::placeholder {
							opacity: 0;
						}
					}
	
					label {
						display: block;
					}
				}
			}
		}
	}
}
