@import "../main/_variables";

#register {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: 70%;

			& > div {
				width: 100%;
		
				label {
					margin-top: 1rem;

					text-align: center;
					font-size: 1.2rem;
				}

				input {
					display: block;

					width: 100%;
					height: 4rem;

					padding: .25rem 1.25rem;
					margin-top: .5rem;
				}
			}

			button {
				max-width: 300px;
			}
		}
	}
}

//

@media screen and (min-width: $desktopWidth) {

	#register {
		.container {
			form {
				position: relative;
			
				& > div {
					input {
						font-size: 1rem;
					}
				}

				button {
					position: absolute;
					bottom: 2rem;
				}
			}
		}
	}
}
