<header>
    <a href="/"><img id="main-logo" src="{{ asset('build/images/icons/icon.png') }}" alt="NeoRetro Logo"></a>

    {% if pageTitle is defined %}
        <h1 id="site-name" class="michroma">NeoRetro</h1>
        <h2 id="page-title" class="michroma">{{pageTitle}}</h2>
    {% else %}
        <h1 id="page-title" class="michroma">NeoRetro</h1>
    {% endif %}

    {% if admin is defined and true %}
        <h2 id="admin" class="michroma">Admin</h2>
    {% endif %}
</header>