{% extends 'base.html.twig' %}

{% block content %}

<div class="card full-size">
    <div class="content">

        <h2>Add New Prize</h2>

        {{ include('prize/_form.html.twig') }}
    </div>
</div>

{% endblock %}
