{% extends 'base.html.twig' %}

{% block title %}• Admin Dashboard{% endblock %}

{% block content %}

<div id="dashboard" class="grid">
        
    <section class="card cell-admin">
        <h2>[Admin] Carlos</h2>
    </section>

    <section class="card cell-played">
        <h2>Coming soon...</h2>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus accusantium nobis totam inventore aspernatur corrupti. Consequatur quia, laborum nisi vitae ut,
            culpa inventore incidunt, sapiente quam aliquam obcaecati iste ratione vel? Vitae, nobis voluptatibus repudiandae obcaecati dignissimos necessitatibus laudantium, aliquam alias ad tempora et id iusto quod explicabo recusandae ea!
        </div>
    </section>

    <section class="card cell-high-score">
        <h2>High Score</h2>
    </section>
    
    <section class="card cell-this-week">
        <h2>This week</h2>
    </section>

    <section class="card cell-the-room">
        <h2>The Room</h2>
    </section>

    <section class="card cell-newest-game">
        <h2>Newest game</h2>
    </section>

    <section class="card cell-mini-games">
        <h2>Mini-Games</h2>
    </section>

    <section class="card cell-scores">
        <h2>Scores</h2>
    </section>

    <section class="card cell-arcade-games">
        <h2>Arcade Games</h2>
    </section>

</div>

{% endblock %}
