{% extends 'base.html.twig' %}

{% block title %}• Dashboard{% endblock %}

{% block content %}

<div id="dashboard" class="grid">

    <section class="card cell-profile">
        <div class="content">
            <h2>{{last_username}}</h2>
            <a href="{{ path('logout') }}">Déconnexion</a>
        </div>
    </section>

    <section class="card cell-played">
        <div class="content">
            <h2>Recently Played</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus accusantium nobis totam inventore aspernatur corrupti. Consequatur quia, laborum nisi vitae ut,
                culpa inventore incidunt, sapiente quam aliquam obcaecati iste ratione vel? Vitae, nobis voluptatibus repudiandae obcaecati dignissimos necessitatibus laudantium, aliquam alias ad tempora et id iusto quod explicabo recusandae ea!
            </p>
        </div>
    </section>

    <section class="card cell-high-score">
        <div class="content">
            <h2>High Score</h2>

        </div>
    </section>
    
    <section class="card cell-this-week">
        <div class="content">
            <h2>This week</h2>

        </div>
    </section>

    <section class="card cell-your-friends">
        <div class="content">
            <h2>Your friends</h2>

        </div>
    </section>

    <section class="card cell-newest-game">
        <div class="content">
            <h2>Newest game</h2>

        </div>
    </section>

    <section class="card cell-mini-games">
        <div class="content">
            <h2>Mini-Games</h2>

        </div>
    </section>

    <section class="card cell-scores">
        <div class="content">
            <h2>Scores</h2>

        </div>
    </section>

    <section class="card cell-arcade-games">
        <div class="content">
            <h2>Arcade Games</h2>

        </div>
    </section>

</div>

{% endblock %}
