{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} • {{ pageTitle }}{% endblock %}

{% block content %}

    <div class="card full-size">
        <div class="content">
            
        </div>
    </div>

{% endblock %}
